.avatar {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  background-color: gray;
}

.split-bill-btn-idle {
  /* left: -25px; */
  align-content: center;
  bottom: 50px;
  width: calc(100vw - 50px);
}
