html {
  box-sizing: border-box;
}
button {
  box-shadow: none !important;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}

ul {
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.gap-25 {
  gap: 25px;
}

.py-50 {
  padding: 50px;
}

.px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.h-100vh {
  height: 100vh;
}

h1 {
  font-size: 31px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-50 {
  margin-bottom: 50px;
}

.justify-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute !important;
}

.action-btn {
  background-color: #015eb8 !important;
  border-radius: 25px !important;
  width: calc(100vw - 50px) !important;
  line-height: 50px !important;
  border-width: 0 !important;
  color: white !important;
}

.action-btn-transparent {
  background-color: white !important;
  border-color: #015eb8 !important;
  border-radius: 25px !important;
  width: calc(100vw - 50px) !important;
  line-height: 46px !important;
  border-width: 1px !important;
  color: #015eb8 !important;
}

.action-btn {
  background-color: #015eb8 !important;
  border-radius: 25px !important;
  width: calc(100vw - 50px) !important;
  line-height: 46px !important;
  border-width: 1px !important;
  border-color: #015eb8 !important;
  color: white !important;
}

.pt-100 {
  padding-top: 100px;
}

.mb-12 {
  margin-bottom: 12.5px;
}
